.ad-form__element--invalid input {
  border-color: red;
}
.ad-form__error {
  margin-top: 0;
  color: red;
  width: calc(100% - 20px);
}

.ad-form__photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
